HELP.md
.gradle/
build/
temp/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/reportsign.der

### Gradle ###
.gradle
build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
